body {
    background-color: azure;
    align-items: center;
    justify-content: center;
}

div {
    width: 406px;
}

.input {
    width: 300px;
    height: 25px;
    border-color: blue;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

}

.add-todo {

    width: 90px;
    height: 36px;
    border-color: blue;
    border-radius: 5px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    margin-top: 10px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(7, 7, 131, 0.788);
}

.main {
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

}

.todo-item {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
    margin-top: 10px;
    margin-left: 100px;
    align-items: center;
    font-size: 18px;


}

.delete-button {
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    font-weight: bold;
    margin-left: 38px;
    width: 100px;
    height: 32px;
    padding: 5px;
    border-radius: 5px;

}

.edit {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    margin-left: 38px;
    width: 100px;
    height: 32px;
    padding: 5px;
    border-radius: 5px;

}